* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

header {
  background-color: #d98324;
  width: 100%;
  height: 12rem;
}

#titulo {
  font-size: 4vw;
  font-family: "Pacifico", cursive, sans-serif;
  text-align: center;
  color: aliceblue;
}

.logo {
  float: left;
  size: 0.5rem;
  height: 150px;
  border-right: 2px solid #000900;
  margin-left: 50px;
  margin-top: 20px;
  background-size: cover;
}

.login .idioma {
  color: aliceblue;
  font-size: 15px;
  text-decoration: none;
  float: right;
}

.menu {
  width: 100%;
  text-align: center;
  background-color: #003049;
  height: 4rem;
}

.menu li {
  display: inline;
  padding: 0.5rem;
  text-align: center;
}

.menu li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 2rem;
    margin: 2rem;
}

.principal {
  height: 50rem;
  width: 60%;
  float: left;
  background-color: #d98324;
  overflow-y: scroll;
}

.lateral {
  float: left;
  width: 40%;
  height: 50rem;
  background-color: #003D5B;
  color: white;
}

.pie {
  clear: both;
  background-color: #000900;
  color: aliceblue;
  height: 5rem;
  text-align: center;
}

.avatar {
  width: 10rem;
  height: 10rem;
  border-radius: 2rem;
  display: block;
  margin: auto;
  margin-bottom: 2rem;
}

.imagen-articulo {
  width: 30rem;
  height: auto;
  display: block;
  margin: auto;
  background-size: cover;
}

.redes-sociales {
  text-align: center;
}

.redsocial {
  margin: 2rem;
}

.imagen-red {
  width: 2vw;
  height: 2vw;
  margin-top: 1rem;
  background-size: cover;
}

.articulo{
  border-bottom: #000900 2px solid;
  border: 2px solid black;
  background-color: #30638E;
  padding: 3rem;
}

.articulo:not(:first-of-type){
    margin-top: 3rem;
}

.lateral h3{
    font-size: 3rem;
    margin: 3rem;
    text-align: center;
}

.nombre-autor{
    text-align: center;
    font-size: 1.5rem;
}

.titulo-articulo{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1rem;
    color: aliceblue;
}

.titulo-noticias{
    padding-left: 3rem;
    background-color: rgba(0, 0, 0);
    color: aliceblue;
    font-family: "Roboto", cursive, sans-serif;
    font-size: 4rem;
}

.descripcion{
    text-indent: 1rem;
    font-size: 1.5rem;
    color: aliceblue;
}

.descripcion-imagen{
    font-style: italic;
    text-align: center;
    color: whitesmoke;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.descripcion-autor{
    text-indent: 2rem;
    padding: 5rem;
    font-size: 2rem;
}

iframe{
    display: block;
    margin: auto;
}
